.item2{
  background:lime;
  height:150px;
  width:600px;
  position:absolute;
  margin-top:-300px;
  
}
.item3{
    background:blue;
  height:200px;
  width:600px;
  position:absolute;
  margin-top:-150px;
  
}
.item1{
  background:red;
  height:300px;
  width:300px;
  margin-left:550px
}
