.edge { 
    color:red;
  }
section h1{
  color:yellow;
}
#MyTitle1{
  color:black;
}
section>p{
  
  color:blue;
}
#MyTitle3{
color:blue;
}
#MyTitle3 + b{
  color:#000000;
}
#MyTitle3 b{
  color:yellow;
}
#MyTitle4{
  color:green;
}
*{
  color:black;
}
#MyTitle4 a+b{
  color:#0000ff;
}
h1 p+b{
  color:#000000;
}
